<div class="filter-container">
    <span>Filter: </span>
    
    <input type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{ 'All Products('+all+')' }}</span>

    <input type="radio" name="filter" value="Available" [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{ 'Available Products('+avail+')' }}</span>

    <input type="radio" name="filter" value="UnAvailable" [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{ 'Unavailable Products('+unavail+')' }}</span>
</div>